<!DOCTYPE HTML>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Confirmation page for the RoboJackets General Interest Meeting." />
        <meta name="keywords" content="RoboJackets, General Interest Meeting, Robots, Robotics, RJ, RoboCup, IGVC, IAARC, BattleBots, FIRST, Georgia Tech, Georgia Institute of Technology" />
        <title>RSVP Confirmation for RoboJackets General Interest Meeting</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div id="confirmation-page">
            <h1>You're all set!</h1>
            <h2>See you on September 8</h2>

            <img src="/img/robobuzz.png" height="200px" class="center">

            <h2>Find all the details on our <a href="">website</a></h2>

            <a href="https://twitter.com/robojackets" title="Check us out on Twitter!" class="twitter center">RoboJackets</a>
            <a href="https://www.facebook.com/RoboJackets" title="Check us out on Facebook!" class="fb center">RoboJackets</a>
        </div>
    </body>

</html>