<!DOCTYPE HTML>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Confirmation page for the RoboJackets General Interest Meeting." />
        <meta name="keywords" content="RoboJackets, General Interest Meeting, Robots, Robotics, RJ, RoboCup, IGVC, IAARC, BattleBots, FIRST, Georgia Tech, Georgia Institute of Technology" />
        <title>RSVP Confirmation for RoboJackets General Interest Meeting</title>
        <link rel="stylesheet" href="/css/style.css">
        
        <!-- Google Analytics Tracking -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-2168303-5', 'auto');
            ga('send', 'pageview');

        </script>
    </head>

    <body>
        <div id="confirmation-page">
            <h1>You're all set!</h1>
            <h2>See you on September 9</h2>

            <img src="/img/robobuzz.png" height="200px" class="center">

            <h2>Find all the details on our <a href="http://www.robojackets.org/general-interest-meeting-2015/">website</a></h2>

            <a href="https://twitter.com/robojackets" title="Check us out on Twitter!" class="twitter center">RoboJackets</a>
            <a href="https://www.facebook.com/RoboJackets" title="Check us out on Facebook!" class="fb center">RoboJackets</a>
        </div>
    </body>

</html>